In [62]:
a=10
print(a)

10

In [63]:
b="Bryan"
print(b)

Bryan

Input From User

In [64]:
name = input("Enter your name:")
print(name)

50

In [65]:
a=10 #static coding
print(a)
print(type(a))

10
<class 'int'>

In [66]:
b="Bryan"
print(b)
print(type(b))

Bryan
<class 'str'>

In [67]:
value1=input("Value 1:")
value2=input("Value 2:")
result=value1+value2
print(result)

100100

In [68]:
value1=int(input("Value 1:"))
value2=int(input("Value 2:"))
result=value1+value2
print(result)

100

In [69]:
a="Python Programming"
print("Current String:",a)

Current String: Python Programming

In [70]:
index value = 0

Python
012345

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (191710360.py, line 4)

In [ ]:
# P y t h o n  P r o g r a m m i n g
# 012 3 4 5 6 7 89 10 1112131415161718

In [ ]:
print(a[0])

P

In [ ]:
print("Print value between index 1 to 6")
print(a[1:7])

Print value between index 1 to 6
ython

In [ ]:
print("Print value between index 1 to 8 but alternate")
print(a[1:9:2]) #[Start:End:Steps]

Print value between index 1 to 8 but alternate
yhnP

In [ ]:
print(a[1:])

ython Programming

In [ ]:
print(a[-1])

g

In [ ]:
b="Xaltius Academy"
print("Current String:",b)

Current String: Xaltius Academy

In [ ]:
print(b[1])

a

In [ ]:
print(b[1:10])

altius Ac

In [ ]:
print(b[0:])

Xaltius Academy

In [ ]:
print(b[0::3])

Xtsce

In [ ]:
print(b[-2])

m

In [82]:
value3=int(input("Value3:"))
value4=int(input("Value4:"))
result=value3-value4
print(result);

70

In [55]:
value1=input("Value 1:")
value2=input("Value 2:")
result=value1+value2
print(result)

1020